.App {
  text-align: center;
}

.container {
  margin-inline: 2em;
}

.header {
  margin-inline: 2em;
  text-align: center;
}

.header_link {
  margin-inline: 1em;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.header_item {
  flex: 1;
  text-align: center;
}

.links, .footer_logo_container {
  text-align: left;
}

.contact_link {
  text-align: right;
}

.social_links {
  justify-content: end;
}

.logo {
  max-width: 260px;
}

.footer {
  margin-inline: 2em;
  text-align: center;
}

.footer_container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer_item {
  flex: 1;
  text-align: center;
}

.social_links {
  display: flex;
}

.social_link {
  margin-inline: 1em;
}